<main class="index">
    <header class=" masthead d-flex">
          <div class="container p-4 ">
            <div class="row ">
                <div class="col-md-4 mx-auto">
                    <div class="card card-effect">
                        <div class="card-body ">
                            <div class="container text-center my-auto">
                                <h1 class="mb-1">Favorites Links</h1>
                                <h3 class="mb-5">
                                    <em>Store your favorites links </em>
                                </h3>
                                <a href="/signin" class="btn btn-success-e"> Let's get started</a>
                            </div>               
                        </div>   
                    </div>
                </div>
            </div>           
        </div>       
    </header>
</main>



